td,th {
    padding: 10px;
    text-align: center;
    border: solid #ff0000 2px;
}

.tableFormat table{
    margin: 10px auto;
}
h1 {
    text-align: center;
    margin: 1rem 0 1.68rem 0;
}
form{
    text-align: center;

}
#botonDeEnvio {
    font-size: 23px;
}